.row
  .col-md
    h1
      em.text-success.display-1 1$ &#61
      em.text-success.display-1#currency= " #{@currency_data[:value]}"
      em.text-success.display-1 ₽
.row
  .col-md
    p
      em.small.text-secondary Updated at
      em.small.text-secondary#updated_at= " #{@currency_data[:time]}"
