h1 Set currency manual
= form_tag(admin_path) do
  .form-group.col-md-3
    = label_tag :value
    = number_field_tag :value, @currency, class: 'form-control', min: 1
    = label_tag :time
    = datetime_local_field_tag :time, default_time, min: minimum_acceptable_time, class: 'form-control'
  = submit_tag 'Set', class: 'btn btn-primary', disabled: manual_currency_already_on?

